$button-bg-color: #61dafb
$button-bg-hover: #09303b
  
.button
  // margin-top: 10px
  background-color: $button-bg-color
  border: none
  width: 70px
  height: 30px
  border-radius: 4px
  cursor: pointer
  transition: color background-color ease .4s

  &:hover 
    background-color: $button-bg-hover
    color: white

.buttonSpace 