$button-bg-blue: #61dafb
$button-bg-blue-hover: #03799a
$button-bg-red: #ed1b1b
$button-bg-red-hover: #780303
$color-white: #fff
$color-black: #000
  
.button,
.buttonOutlined
  width: 70px
  height: 30px
  border-radius: 4px
  cursor: pointer
  transition: all ease .4s

.button
  background-color: $button-bg-blue
  border: none

  &:hover 
    background-color: $button-bg-blue-hover
    color: $color-white

.buttonOutlined
  background-color: inherit
  border: 1px solid $color-black

  &:hover 
    background-color: $button-bg-blue-hover
    color: $color-white

.buttonRed
  background-color: $button-bg-red
  color: $color-white
  border: none

  &:hover
    background-color: $button-bg-red-hover