$color-loader: #0d47a1
$bg-color: #000104b8
  
.loaderWrapper
  width: 100%
  height: 100%
  position: fixed
  z-index: 10000000
  top: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center
  background-color: $bg-color

// dots loader
.dots 
  color: $color-loader
  font-weight: bold
  display:inline-block
  font-family: monospace
  font-size: 30px
  clip-path: inset(0 3ch 0 0)
  animation: l 1s steps(4) infinite

@keyframes l 
  to 
    clip-path: inset(0 -1ch 0 0)
  